* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 5000px;
  background-color: #eee;
}
.scroller {
  background-color: #0075FF;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 0;
  height: 5px;
}